.mainClass{
  background: 
  linear-gradient(180deg,
  #020024,#4b4b9a 35%,#fff); 
  height: 80vh;
  font-family: sans-serif;
}
  .topBar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5%;
  }
  .widgets{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:3%
  }

/*Clock component////////////////////*/
  .mainClockClass{
  display: flex;
  flex-direction: column; 
  height: 150px;
  width: 150px;
  
  }
    .buttonClass{
      display:flex;
      flex: 0.3;
      
    }
      .timerText{
        font-size:x-large;
      }
    .card{
      display:flex;
      flex: 0.7;

    }
/*Clock component/////////////////////*/